{% include 'roles/ansible_role_common_templates/templates/prefix.j2' %}

Host {{ host_key.host }}
IdentityFile ~/.ssh/{{ host_key.host }}.pub
User {{ host_key.user }}

{% if host_key.port %}
Port {{ host_key.port }}
{% endif %}

PubKeyAuthentication true
IdentitiesOnly true
# Other SSH options can be added here