# {{ ansible_managed }}

{% set git_commit = lookup('pipe', 'git rev-parse --short HEAD', errors='ignore') | default('', true) %}
{% if git_commit %}# commit: {{ git_commit }}{% endif %}


# Include all custom host-specific configurations
Include ~/.ssh/include/*
